<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <center>
    <h1>[ยง]</h1>
    <form action='/' method='post'>
      <input type='password' name='password' placeholder='- - - - - - - - - - - -'>
    </form>
    <p>use a key</p>
    </center>
  </body>
</html>