<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <center>
    <h1>taste</h1>
    <form action='/level3' method='post'>
      <input type='password' name='password' placeholder='- - - - - - - - - - - -'>
    </form>
    <p>the new blue</p>
    </center>
  </body>
</html>