<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <center>
    <h1>sword</h1>
      <form action='/level4' method='post'>
        <input type='password' name='password' placeholder='- - - - - - - - - - - -'>
      </form>   
    <p>inky victor</p>
    </center>
  </body>
</html>