<body>
  <center>
    <h1>[ยง]</h1>
      <h2>links'n'that</h2>
    <div id="new-link">
      <form action="/" method="post">
        <input type="text" name="url" placeholder="link">
        <input type="text" name="title" placeholder="name">
        <input type="submit" value="Add link">
      </form>
    </div>
  </center>
</body>