<body>
  <center>
    <h1>links</h1>  
    <ul>
      <% @links.each do |link| %>
        <li>
          <a class="listedlink" href="<%= link.url %>"><%= link.title %></a>
          <a href="/delete/<%= link.id %>" class="myButton">omit</a>
        </li>
      <% end %>
    </ul>
      <form action="/home" method="get">
        <button class="myButton">back</button>
      </form>
  </center>
</body>  