<!-- <body>
  <center>
    <h1>proof?</h1>
      <form action="/signon/new" method="post">
        <input name="email" type="text" placeholder="email">
        <br>
        <input name="password" type="password" placeholder="password">
        <br>
      <button class="myButton">login</button>
      </form>
  </center>
</body>   -->