<html>
  <link rel="stylesheet" href="/css/style.css" />
  <head>
  </head>
  <body>
    <center>
      <h1>space</h1>
        <form action='/signup/new' method='get'>
        <button class="myButton">i'm new</button>
        </form>
        <form href='/signon' method='get'>
        <button class="myButton">i'm old</button>
        </form>
    </center>
  </body>
</html> 