body {
  padding: 16em 16em;
  background-color: #000000;
}

h1 {
  font-family: Georgia, Times, serif;
  font-size: 6em;
  font-weight: 500;
  color: #ffffff;
}

input {
  padding: 0em;
  outline: none;
}

button {
}

p {
  font-size: 1.2em;
  font-family: Georgia, Times, serif;
  font: Georgia, Times, serif;
  color: #ffffff;
} 